label {
    width: 100%;
    margin: 0;
}

.prod_Name {
    width: 500px;
}

.item_img {
    width: 150px;
    height: 150px;
}

    .item_img img {
        max-width: 100%;
        max-height: 100%;
    }

.item_name {
    color: #444444;
    text-align: left;
}

.address_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.address_wrapper {
    border: 1px solid #666;
    background-color: #EEE;
    margin: 10px;
    padding: 10px;
    flex: 0 0 300px;
    min-width: 300px;
    word-wrap: break-word;
}

.address_wrapper:hover {
    background-color: white;
}

.address_click {
    outline: 5px solid orange;
}

@media (max-width: 991px) {
    .address_flex {
        flex-direction: column;
    }
}